{% extends "goro/base.html" %}
{% load markup %}
{% load staticfiles %}

{% block staticfiles %}
<link rel="stylesheet" href="{% static "articles/highlight/styles/sunburst.css" %}">
<script src="{% static "articles/jquery-1.11.1.js" %}"></script>
<script src="{% static "articles/highlight/highlight.pack.js" %}"></script>
{% endblock %}

{% block javascript %}
<script>
jQuery(function( $ ) {
	$('pre.code').each(function(i, block) {
		hljs.highlightBlock(block);
	});
});
</script>
{% endblock %}

{% block title %}Adri Codes{% endblock %}

{% block navbar %}
<p>Site Navigation:</p>
<ul>
    <li><a href="/">Home</a></li>
    <li><a class="active" href="{% url 'articles:index' %}">Blog</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="left_col">

</div>

<div id="center_col">
	<h2>{{ article.headline }}</h2>

	<div id="content">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- top -->
		<ins class="adsbygoogle"
						 style="display:inline-block;width:728px;height:90px"
							 data-ad-client="ca-pub-4487310842689487"
								data-ad-slot="8422706854"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		{% autoescape on %}
		{{ article.content|restructuredtext }}
		{% endautoescape %}
	</div>
</div>

<div id="right_col">

</div>

<footer>
	<p>Posted by: {{ article.reporter }}</p>
	<p>Contact information: </p>
</footer>
{% endblock %}
