{% extends "goro/base.html" %}

{% block title %}Adri Codes{% endblock %}

{% block navbar %}
<p>Site Navigation:</p>
<ul>
    <li><a href="/">Home</a></li>
    <li><a class="active" href="{% url 'articles:index' %}">Blog</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="center_col">
	{% if articles %}
	{% for entry in articles %}
	<div class="article_entry">
        <h1><a class="heading_link" href="{% url 'articles:detail' slug=entry.slug %}">{{ entry.headline }}</a></h1>
    <div>{{ entry.preview|safe }}</div>
	</div>
	{% endfor %}
	{% else %}
	<div class="warning">
		<h4>No Articles</h4>
		<p>Come back soon!</p>
	</div>
	{% endif %}
</div>
{% endblock %}
