{% extends "goro/base.html" %}
{% load markup %}

{% block title %}Adri Codes{% endblock %}

{% block navbar %}
<p>Site Navigation:</p>
<ul>
    <li><a href="/">Home</a></li>
    <li><a class="active" href="{% url 'articles:index' %}">Blog</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="center_col">
	{% if articles %}
	{% for entry in articles %}
	<div class="article_entry">
    <h1><a class="heading_link" href="{% url 'articles:detail' slug=entry.slug %}">{{ entry.headline }}</a></h1>
    <div>{{ entry.preview|restructuredtext }}</div>
	</div>
	{% endfor %}
	{% else %}
	<div class="warning">
		<h4>No Articles</h4>
		<p>Come back soon!</p>
	</div>
	{% endif %}
</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- right side -->
<ins class="adsbygoogle"
		      style="display:inline-block;width:300px;height:600px"
				     data-ad-client="ca-pub-4487310842689487"
				      data-ad-slot="2655374855"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

{% endblock %}
