{% extends "goro/base.html" %}
{% load markup %}

{% block title %}Adri Codes{% endblock %}

{% block navbar %}
<p>Site Navigation:</p>
<ul>
    <li><a href="/">Home</a></li>
    <li><a class="active" href="{% url 'articles:index' %}">Articles</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="center_col">
	{% if articles %}
	{% for entry in articles %}
	<div class="article_entry">
        <h1><a class="heading_link" href="{% url 'articles:detail' slug=entry.slug %}">{{ entry.headline }}</a></h1>
        <div>{{ entry.preview|restructuredtext }}</div>
        <div><span>Reporter: {{entry.reporter.full_name}}</span></div>
        <div><span>Publish Date: {{ entry.pub_date }}</span></div>
	</div>
	{% endfor %}
	{% else %}
	<div class="warning">
        <h4>No Articles for {{ year }}</h4>
	</div>
	{% endif %}
</div>
{% endblock %}
